extends base.pug

block scripts
  script(src='/static/home.js')

block style 
  style
    include ../static/style.css
    include ../static/login.css

block content  
  section#login 
    h1 LOGIN 
  section#block 
    form#form(action="/login")
      input#Email(type="text" , placeholder="Email") 
      input#Password(type="password" , placeholder="Password")  
      button#btn1 LOGIN  
      span #[a(href="") Forget Password?] 

